<!DOCTYPE html>
<html lang="en">
    <head>
        <% include partials/head %>
    </head>
    <body>
        <h1 class="solid-gold-header">
            <span>A</span>
            <span>SOLID</span>
            <span>GOLD</span>
            <span>SCHEME</span>
        </h1>
    <div>
        <p>
            Pressing a solid gold button will play a sound from the solid gold dog.
        </p>
    </div>
    </body>
</html>