<!DOCTYPE html>
<html lang="en">
    <head>
        <% include partials/head %>
    </head>
    <body>
        <div>
            <h1 class="solid-gold-header"><span>SOLID</span><span>GOLD</span><span>DOG</span></h1>
            <form id="solidGoldForm" action="/solidGoldButton" method="post" name="solidGoldForm">
                <input class="solid-gold-button" type="submit" name="solidGoldButton" value="SOLID GOLD BUTTON">
            </form>
        </div>
        <% include partials/onSolidGold %>
    </body>
</html>