<!DOCTYPE html>
<html lang="en">
    <head>
        <% include partials/head %>
    </head>
    <body>

        <header>
            <% include partials/header %>
        </header>

        <div>
            <h1>Solid Gold Test</h1>
        </div>

        <footer>
            <% include partials/footer %>
        </footer>
    </body>
</html>